body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background-color: #ffffff;
    color: #000000;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 54px;
    line-height: 54px;
    padding-bottom: 10px;
}

h3 {
    margin: 0;
    padding: 10px 0px;
    font-size: 24px;
    line-height: 24px;
}

button {
    font-family: 'Montserrat', sans-serif;
}

#timer {
    font-weight: bold;
    display: none;
}

.main-container {
    padding: 100px;
}

#main {
    padding-top: 50px;
}

.start-button {
    display: block; /* hide once the game starts */
    margin: 30px auto;
    padding: 10px 50px;
    background-color: #000000;
    color: #ffffff;
    border: 0px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.answer-button  {
    display: none;  /* change to none at the start of the game */
    margin: 10px auto;
    width: 300px;
    height: 40px;
    border: 0px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    color: #000000;
}

#answer1 {
    background-color: transparent;
}

#answer2 {
    background-color: transparent;
}

#answer3 {
    background-color: transparent;
}

#answer4 {
    background-color: transparent;
}

.start-button:hover, .start-button:focus, .answer-button:hover, .answer-button:focus {
    outline: none;
}

@media only screen and (max-width: 980px) {

    h1 {
        font-size: 48px;
        line-height: 48px;
    }

    h3 {
        font-size: 22px;
        line-height: 22px;
    }

    .answer-button  {
        width: 50%;
    }
}

@media only screen and (max-width: 768px) {

    h1 {
        font-size: 40px;
        line-height: 40px;
    }

    h3 {
        font-size: 22px;
        line-height: 22px;
    }

    .main-container {
        padding: 125px 50px;
    }

    .answer-button  {
        width: 70%;
    }
}

@media only screen and (max-width: 640px) {

    h1 {
        font-size: 34px;
        line-height: 34px;
    }

    .main-container {
        padding: 125px 50px;
    }

    .answer-button  {
        width: 80%;
    }
}

